extends ../layout
block script
	script( async type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js")
	script( defer type='module' src='/js/page/demo.js')
	style.

block body 
	

	div
		video(src='/music/video.mp4' controls )

	