extends ../layout
block script
	script( defer type='module' src='/js/page/demo.js')
	//- style.
		input[type="search"]::-webkit-search-decoration,
		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-results-button,
		input[type="search"]::-webkit-search-results-decoration {
			-webkit-appearance:none;
		}

block body 
	div(class='h-screen')

		div(class='w-full')
			img( name='avatar' src='/images/users/default.jpg' class='w-40 h-40')

			img(name='crop-preview') 
			br
			button(name='crop-button' class='border border-slate-400 px-3 py-1.5') Crop
			button(name='crop-download' class='border border-slate-400 px-3 py-1.5') Download

