extends ../layout
block body
block script
	script( defer type='module' src='/js/page/login.js')

	.h-screen.flex.justify-center.items-center
		.w-96.bg-slate-100.m-auto.px-4.py-3.shadow-md.rounded.border.border-slate-200
			h1(class='text-blue-500 text-2xl text-center mb-6') Login

			form.flex.flex-col.gap-2.mb-2(name='login-form' action='/login' method='post')

				h2#error.text-red-500.text-center.capitalize #{errorMessage}

				+TextField({
					label: 'Your Email',
					name: 'email',
					type: 'email',
					placeholder: 'abc@gmail.com',
					value: email || 'riajul@gmail.com',
					helperText: 'email address is invalied',
					required: true
				})
				+TextField({
					label: 'Your Password',
					name: 'password',
					type: 'password',
					placeholder: 'yourPa$$w0rd',
					value: password || 'asdfasdf',
					helperText: 'password is too short',
					required: true
				})

				div(class='mt-1 ')
					+Button({
						value: 'Login',
						type: 'submit',
						size: 'py-2',
						variant: 'contained',
					})
			
			.text-center
				a.text-blue-500.underline.decoration-dotted(href="/register") Don't have an account ? register here



