doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		link(rel="stylesheet", href="/css/style.css")

	body 
		div(class='h-screen flex justify-center items-center border border-slate-300') 

			div(class='font-roboto text-slate-800 font-medium flex gap-4 items-center')
				span(class='pr-4 text-3xl border-r border-slate-700') 404
				span(class='') this page could not be found.
