extends ../layout
block body
block script
	script( defer type='module' src='/js/page/register.js')

	div(class='h-screen ')
		div(class='relative p-1 flex gap-1 h-full border border-slate-200 rounded-md')

		p register
